html,
body{
  height: 100%;
  background: url("../img/backgroundLogin.png");
  background-size: 100% 100%;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

div.well{
  height: 250px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:30px;
  background-color: transparent;
  color: #18FA04;
  font-family: monaco,Consolas,Lucida Console,monospace;
  font-weight: bold;
  text-align: center;
}
a {
  color: #18FA04;
}
